.navbar {
    display: flex;
    padding:1% 50px;
    align-items: center;
    scroll-snap-align: start;
    justify-content: space-between;
}
    .actions {
        gap: 1.2rem;
        display: flex;
        font-size: 18px;
        align-items: center;
        padding-left: 20%;
    }


